<div th:fragment="ModificarHabitacion">
    <div class="container-fluid">
        <div class="row p-4 mb-5" style="background-color: white">
            <div class="d-flex align-items-center" style="gap: 12px;">
                <p class="mb-0 h1">Agregar Habitacion</p>
                <p class="mb-0 mt-2 h4">Gestion Hotelera</p>
                <button onclick="loadComponent('/habitacion/inicio')" class="btn btn-primary">Volver</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form class="form-floating" th:action="@{/habitacion/actualizar}" th:object="${habitacion}" method="post">

            <!-- Campo oculto para el ID -->
            <input type="hidden" class="form-control" id="floatingIdHabitacion" th:field="*{idHabitacion}">

            <!-- Campo para el número de habitación -->
            <div class="mb-3 form-floating">
                <input type="number" class="form-control" id="floatingNumeroHabitacion" th:field="*{numeroHabitacion}" placeholder="Número de Habitación" required>
                <label for="floatingNumeroHabitacion">Número de Habitación</label>
            </div>

            <!-- Campo para el precio -->
            <div class="mb-3 form-floating">
                <input type="number" class="form-control" id="floatingPrecio" th:field="*{precio}" placeholder="Precio" required>
                <label for="floatingPrecio">Precio</label>
            </div>

            <!-- Campo para la descripción -->
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="floatingDescripcion" th:field="*{descripcion}" placeholder="Descripción" required>
                <label for="floatingDescripcion">Descripción</label>
            </div>

            <!-- Campo para el estado de limpieza -->
            <div class="mb-3 form-floating">
                <select class="form-select" id="floatingEstadoLimpieza" th:field="*{estadoLimpieza}" required>
                    <option value="" disabled th:if="*{estadoLimpieza} == null" selected>Seleccione un estado</option>
                    <option value="Limpio">Limpio</option>
                    <option value="Sucio">Sucio</option>
                </select>
                <label for="floatingEstadoLimpieza">Estado de Limpieza</label>
            </div>

            <!-- Campo para la capacidad -->
            <div class="mb-3 form-floating">
                <input type="number" class="form-control" id="floatingCapacidad" th:field="*{capacidad}" placeholder="Capacidad" required>
                <label for="floatingCapacidad">Capacidad</label>
            </div>

            <!-- Botón de guardar -->
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>

    </div>
</div>