<div th:fragment="AgregarReservacionRestaurante">
    <div class="container-fluid">
        <div class="row p-4 mb-5" style="background-color: white">
            <div class="d-flex align-items-center" style="gap: 12px;">
                <p class="mb-0 h1">Agregar Reservación Restaurante</p>
                <p class="mb-0 mt-2 h4">Gestión de Reservaciones en Restaurante</p>
                <button onclick="loadComponent('/reservacionRestaurante/inicio')" class="btn btn-primary">Volver</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form class="form-floating" th:action="@{/reservacionRestaurante/guardar}" th:object="${reservacionRestaurante}" method="post">

            <!-- Campo para Cliente -->
            <div class="mb-3 form-floating">
                <select class="form-select" id="floatingCliente" th:field="*{cliente.id_cliente}">
                    <option value="" disabled selected>Selecciona un Cliente</option>
                    <option th:each="cliente : ${clientes}" 
                            th:value="${cliente.id_cliente}" 
                            th:text="${cliente.persona.nombre} + ' ' + ${cliente.persona.primer_apellido} + ' ' + ${cliente.persona.segundo_apellido}">Cliente</option>
                </select>
                <label for="floatingCliente">Cliente</label>
            </div>

            <!-- Campo para Hora de Entrada -->
            <div class="mb-3 form-floating">
                <input type="time" class="form-control" id="floatingHoraEntrada" th:field="*{horaEntrada}" placeholder="Hora de Entrada">
                <label for="floatingHoraEntrada">Hora de Entrada</label>
            </div>

            <!-- Campo para Fecha de Reservación -->
            <div class="mb-3 form-floating">
                <input type="date" class="form-control" id="floatingFechaReservacion" th:field="*{fechaReservacion}" placeholder="Fecha de Reservación">
                <label for="floatingFechaReservacion">Fecha de Reservación</label>
            </div>

            <!-- Botón Guardar -->
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
